body {
    background-color: green;
}
.field-validation-error {
    color: #F00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid red;
    background-color: darkred;
}

.validation-summary-error {
    font-weight: bold;
    color: red;
}

.validation-summary-valid {
    display: none;
}
